@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-CiHeart {
    @apply absolute top-3 right-3 z-10 opacity-0 translate-y-2 
  group-hover:opacity-100 group-hover:translate-y-0;
  }
  .style_button {
    @apply absolute bottom-3 left-0 right-0 mx-3 flex items-center justify-center gap-2 
                px-4 py-2 bg-pink-600 text-white text-sm font-medium 
                rounded-full shadow-md opacity-0 translate-y-3 
                transition duration-300 group-hover:opacity-100 group-hover:translate-y-0;
  }
  .style_input {
    @apply w-full px-3 py-2 rounded-md border  
                 focus:outline-none focus:ring-2 focus:ring-pink-100;
  }
  .style_address {
    @apply w-full border text-sm  px-3 py-2 rounded-lg shadow-sm 
                 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 
                 transition placeholder-gray-400;
  }
  .button_slide_left {
    @apply absolute left-4 top-1/2 -translate-y-1/2
      w-10 h-10 flex text-gray-400 items-center justify-center
      bg-white/70 backdrop-blur-sm
      rounded-full shadow cursor-pointer
      hover:bg-white transition
      hover:text-gray-500
      z-10;
  }
  .button_slide_right {
    @apply absolute right-4 top-1/2 -translate-y-1/2
    text-gray-400
      w-10 h-10 flex items-center justify-center
      bg-white/70 backdrop-blur-sm
      rounded-full shadow cursor-pointer
      hover:bg-white transition
 hover:text-gray-500
      z-10;
  }
}
